.App {
  text-align: center;
}

.circle {
  margin: auto;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle h1 {
  color: orange;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 150px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.App-header {
  background-color: orange;
  height: 150px;
  padding: 20px;
  color: white;
}

.About h2.std {
  color: red;
}

.About h2.alt {
  color: blue;
}

.Proselytize h1.Main-heading {
  font-size: 20px;
  color: orange;
}

/*Menu Styling*/

.Menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.Menu li {
  display: inline-flex;
  width: 100px;
  height: 50px;
  justify-content: center;
}